* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#transition-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  transition: transform 0.3s;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
}

button:hover {
  transform: scale(1.2);
}
