footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  -webkit-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.61);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  color: #e1749e;
  & span {
    color: white;
  }
}
