* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#containerTresEnRaya {
  display: flex;
  flex-direction: row;
}

button {
  border-color: pink;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  border-radius: 20%;
}

button img {
  width: 90%;
  height: 90%;
  justify-content: center;
  border-radius: 20%;
}

#winnerIMG {
  position: absolute;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

#winnerIMG img {
  width: 100%;
  height: 100%;
  justify-content: center;
}
