.figurePokemon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  z-index: 5;

  & img {
    width: 160px;
    height: 160px;
    max-height: 160px;
  }
  &:hover img {
    animation: rebota 0.7s alternate infinite ease-in;
    transition: 1s ease-in-out;
  }

  &:hover {
    transform: scale(1.2);
  }
}

h2.pokemonName {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: pink;
}

@keyframes rebota {
  100% {
    transform: translateY(5px);
  }
}

.grass {
  background-color: #63bb5b75;
}
figure.grass {
  border: 10px solid #63bb5b;
}

.grass-button {
  background-color: #63bb5b;
}

figure.bug {
  border: 10px solid #8fc12c;
}
.bug {
  background-color: #8fc12c80;
}
.bug-button {
  background-color: #8fc12c;
}

figure.dark {
  border: 10px solid #5a5366;
}
.dark {
  background-color: #5a536687;
}
.dark-button {
  background-color: #5a5366;
}

figure.dragon {
  border: 10px solid #0a6dc4;
}
.dragon {
  background-color: #0a6dc482;
}
.dragon-button {
  background-color: #0a6dc4;
}

figure.electric {
  border: 10px solid #f3d13b;
}
.electric {
  background-color: #f3d13b75;
}
.electric-button {
  background-color: #f3d13b;
}

figure.fairy {
  border: 10px solid #ec8fe6;
}
.fairy {
  background-color: #ec8fe67e;
}
.fairy-button {
  background-color: #ec8fe6;
}

figure.fighting {
  border: 10px solid #ce4068;
}
.fighting {
  background-color: #ce406884;
}
.fighting-button {
  background-color: #ce4068;
}

figure.fire {
  border: 10px solid #ff9b54;
}
.fire {
  background-color: #ff9b546f;
}
.fire-button {
  background-color: #ff9b54;
}

figure.flying {
  border: 10px solid #8fa8dd;
}
.flying {
  background-color: #8fa8dd7c;
}
.flying-button {
  background-color: #8fa8dd;
}

figure.ghost {
  border: 10px solid #5269ac;
}
.ghost {
  background-color: #5269ac7e;
}
.ghost-button {
  background-color: #5269ac;
}

figure.ground {
  border: 10px solid #d97746;
}
.ground {
  background-color: #d977467c;
}
.ground-button {
  background-color: #d97746;
}

figure.ice {
  border: 10px solid #74cec1;
}
.ice {
  background-color: #74cec17e;
}
.ice-button {
  background-color: #74cec1;
}

figure.normal {
  border: 10px solid #9099a1;
}
.normal {
  background-color: #9099a17b;
}
.normal-button {
  background-color: #9099a1;
}

figure.poison {
  border: 10px solid #aa6ac8;
}
.poison {
  background-color: #aa6ac87a;
}
.poison-button {
  background-color: #aa6ac8;
}

figure.psychic {
  border: 10px solid #f97176;
}
.psychic {
  background-color: #f971767e;
}
.psychic-button {
  background-color: #f97176;
}

figure.rock {
  border: 10px solid #c7b78b;
}
.rock {
  background-color: #c7b78b78;
}
.rock-button {
  background-color: #c7b78b;
}

figure.steel {
  border: 10px solid #5a8ea1;
}
.steel {
  background-color: #5a8ea17e;
}
.steel-button {
  background-color: #5a8ea1;
}

figure.water {
  border: 10px solid #4d91d5;
}
.water {
  background-color: #4d91d575;
}
.water-button {
  background-color: #4d91d5;
}
